<div class="row mt-5 justify-content-center">
  <app-alert class="mt-auto"></app-alert>
</div>

<div *ngIf="show">
  <div class="row">
        <div class="col">
          <label class="my-1 mr-2">Add New Language</label>
          <div class="input-group my-3">
            <input type="text" #addLanguage class="form-control" placeholder="Language Name" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="onAddLanguage(addLanguage.value)" type="button" id="button-addon2">Add</button>
            </div>
          </div>
        </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr class="text-center">
          <th scope="col">Id</th>
          <th scope="col">Language</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let language of languages" class="text-center">
          <th scope="row">{{language.id}}</th>
          <td><p class="font-weight-light text-capitalize">{{language.name}}</p></td>
          <td><a class="font-weight-light text-capitalize text-info text-decoration-none" (click)="onSelect(language)" [routerLink]="" data-toggle="modal" data-target="#editModal">Edit</a></td>
          <td><a class="font-weight-light text-capitalize text-danger text-decoration-none" (click)="onSelect(language)" [routerLink]="" data-toggle="modal" data-target="#deleteModal">Delete</a></td>
        </tr>
        </tbody>
      </table>
    </div>

    <nav aria-label="..." class="py-5">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="first">
          <a class="page-link" [routerLink]="" (click)="onClickPage(currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let item of [].constructor(totalPages); let i = index" class="page-item"
            [class.active]="i === currentPage" aria-current="page">
          <span *ngIf="currentPage === i" class="page-link" (click)="onClickPage(i)">{{i + 1}}</span>
          <a *ngIf="currentPage !== i" class="page-link" (click)="onClickPage(i)" [routerLink]="">{{i + 1}}</a>
        </li>
        <li class="page-item" [class.disabled]="last">
          <a class="page-link" [routerLink]="" (click)="onClickPage(currentPage + 1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Edit Language</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>
            <input type="text" class="form-control" #languageInput value="{{selectedLanguage === null || selectedLanguage === undefined ? '':selectedLanguage.name}}">
          </label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClickEditLanguage(languageInput.value)">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Language</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>
            <input type="text" class="form-control" readonly disabled #languageInput value="{{selectedLanguage === null || selectedLanguage === undefined ? '':selectedLanguage.name}}">
          </label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onClickDeleteLanguage()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
