<div class="row mt-5 justify-content-center">
  <app-alert class="mt-auto"></app-alert>
</div>

<div *ngIf="show">
  <div class="row">
    <div class="col-sm">
      <label class="my-1 mr-2">Add New Singer</label>
      <div class="input-group my-3">
        <input type="text" #addSinger class="form-control" placeholder="Singer Name" aria-label="Recipient's username" aria-describedby="button-addon2">
      </div>
    </div>
    <div class="col-sm">
      <label class="my-1 mr-2">Set Avatar</label>
      <div class="input-group my-3">
        <div class="custom-file mb-3">
          <input type="file" class="custom-file-input" id="singerAvatar" #singerAvatar accept="image/jpeg, image/png" required (change)="setAvatar($event)">
          <label class="custom-file-label" for="singerAvatar">{{avatarName}}</label>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <button class="btn btn-info my-5 align-self-end" (click)="onCreateSinger(addSinger.value)">Create Singer</button>
    </div>

  </div>

  <div class="row">
    <div class="col-sm col-md-8 col-lg-4">
      <label class="my-1 mr-2">Singer</label>
      <div class="input-group my-3">
        <input type="text" #singerFilter class="form-control" placeholder="Find by Singer" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="onFilterSinger(singerFilter.value)" type="button" id="button-addon2">Find</button>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <label class="my-1 mr-2" for="sortFilter">Sort</label>
      <select class="custom-select my-3 mr-sm-2" #sortFilter id="sortFilter" (change)="onFilterSort(sortFilter.value)">
        <option selected [value]="null">Choose...</option>
        <option *ngFor="let sort of sorts" [value]="sort" >{{sort}}</option>
      </select>
    </div>
    <div class="col-sm">
      <label class="my-1 mr-2" for="directionFilter">Direction</label>
      <select class="custom-select my-3 mr-sm-2" #directionFilter id="directionFilter" (change)="onFilterDirection(directionFilter.value)">
        <option selected [value]="null">Choose...</option>
        <option *ngFor="let direction of directions" [value]="direction" >{{direction}}</option>
      </select>
    </div>
    <div class="col-sm">
      <label class="my-1 mr-2" for="sizeFilter">Size</label>
      <select class="custom-select my-3 mr-sm-2" #sizeFilter id="sizeFilter" (change)="onFilterSize(sizeFilter.value)">
        <option selected [value]="null">Choose...</option>
        <option *ngFor="let size of sizes" [value]="size" >{{size}}</option>
      </select>
    </div>
  </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr class="text-center">
          <th scope="col">Id</th>
          <th scope="col">Avatar</th>
          <th scope="col">Singer</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let singer of singers" class="text-center">
          <th scope="row">{{singer.id}}</th>
          <td>
            <img *ngIf="singer.avatar != null else defaultAvatar"
                 src="{{singer.avatar.url}}" alt="avatar" width="64" height="64" class="rounded-circle">
            <ng-template #defaultAvatar>
              <img src="assets/ra.svg" alt="avatar" width="32" height="32" class="rounded-circle"></ng-template>
          </td>
          <td><p class="font-weight-light text-capitalize">{{singer.name}}</p></td>
          <td><a class="font-weight-light text-capitalize text-info text-decoration-none" (click)="onSelect(singer)" [routerLink]="" data-toggle="modal" data-target="#editModal">Edit</a></td>
          <td><a class="font-weight-light text-capitalize text-danger text-decoration-none" (click)="onSelect(singer)" [routerLink]="" data-toggle="modal" data-target="#deleteModal">Delete</a></td>
        </tr>
        </tbody>
      </table>
    </div>

    <nav aria-label="..." class="py-5">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="first">
          <a class="page-link" [routerLink]="" (click)="onClickPage(currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let item of [].constructor(totalPages); let i = index" class="page-item"
            [class.active]="i === currentPage" aria-current="page">
          <span *ngIf="currentPage === i" class="page-link" (click)="onClickPage(i)">{{i + 1}}</span>
          <a *ngIf="currentPage !== i" class="page-link" (click)="onClickPage(i)" [routerLink]="">{{i + 1}}</a>
        </li>
        <li class="page-item" [class.disabled]="last">
          <a class="page-link" [routerLink]="" (click)="onClickPage(currentPage + 1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Edit Singer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>
            <input type="text" class="form-control" #singerInput value="{{selectedSinger === null || selectedSinger === undefined ? '':selectedSinger.name}}">
          </label>
          <div class="input-group my-3">
            <div class="custom-file mb-3">
              <input type="file" class="custom-file-input" id="updateAvatar" accept="image/jpeg, image/png" required (change)="setAvatar($event)">
              <label class="custom-file-label" for="updateAvatar">{{avatarName}}</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClickEditSinger(singerInput.value)">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Singer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>
            <input type="text" class="form-control" readonly disabled #languageInput value="{{selectedSinger === null || selectedSinger === undefined ? '':selectedSinger.name}}">
          </label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onClickDeleteLanguage()">Delete</button>
        </div>
      </div>
    </div>
  </div>

