<div class="row mx-auto py-5 ">
  <div class="col">
    <a href="#" class="text-decoration-none">
      <div class="card text-dark bg-light mb-3 text-center" style="min-width: 18rem;">
        <div class="card-header">Users</div>
        <div class="card-body">
          <h5 class="card-title">{{userCount}}</h5>
        </div>
      </div>
    </a>
  </div>

  <div class="col">
    <a href="#" class="text-decoration-none">
      <div class="card text-dark bg-light mb-3 text-center" style="min-width: 18rem;">
        <div class="card-header">Musics</div>
        <div class="card-body">
          <h5 class="card-title">{{musicCount}}</h5>
        </div>
      </div>
    </a>
  </div>

  <div class="col">
    <a href="#" class="text-decoration-none">
      <div class="card text-dark bg-light mb-3 text-center" style="min-width: 18rem;">
        <div class="card-header">Singers</div>
        <div class="card-body">
          <h5 class="card-title">{{singerCount}}</h5>
        </div>
      </div>
    </a>
  </div>

  <div class="col">
    <a href="#" class="text-decoration-none">
      <div class="card text-dark bg-light mb-3 text-center" style="min-width: 18rem;">
        <div class="card-header">Albums</div>
        <div class="card-body">
          <h5 class="card-title">{{albumCount}}</h5>
        </div>
      </div>
    </a>
  </div>

  <div class="col">
    <a href="#" class="text-decoration-none">
      <div class="card text-dark bg-light mb-3 text-center" style="min-width: 18rem;">
        <div class="card-header">Genres</div>
        <div class="card-body">
          <h5 class="card-title">{{genreCount}}</h5>
        </div>
      </div>
    </a>
  </div>

  <div class="col">
    <a href="#" class="text-decoration-none">
      <div class="card text-dark bg-light mb-3 text-center" style="min-width: 18rem;">
        <div class="card-header">Moods</div>
        <div class="card-body">
          <h5 class="card-title">{{moodCount}}</h5>
        </div>
      </div>
    </a>
  </div>

  <div class="col">
    <a href="#" class="text-decoration-none">
      <div class="card text-dark bg-light mb-3 text-center" style="min-width: 18rem;">
        <div class="card-header">Playlists</div>
        <div class="card-body">
          <h5 class="card-title">{{playlistCount}}</h5>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="#" class="text-decoration-none">
      <div class="card text-dark bg-light mb-3 text-center" style="min-width: 18rem;">
        <div class="card-header">Languages</div>
        <div class="card-body">
          <h5 class="card-title">{{languageCount}}</h5>
        </div>
      </div>
    </a>
  </div>
</div>
